@font-face {
    font-family: 'gotham-bold', serif;
    src: url('../../fonts/gotham/gotham-bold.otf');
}

@font-face {
    font-family: 'gotham-book', serif;
    src: url('../../fonts/gotham/gotham-book.otf');
}

@font-face {
    font-family: 'gotham-medium', serif;
    src: url('../../fonts/gotham/gotham-medium.otf');
}