.latest-news-wrap {
    width: 100%;
    height: 1035px;
    background-image: url(../img/bg-news.png);

    .container {
        @extend %container-settings;
    }
}

.latest-news-inner {
    width: 100%;
    height: 100%;

}