$transition: all 0.3s ease;
$dark: #2c4058;
$light: #ffffff;


%transform-for-small-blocks {
    transform: scale(1.05);
    transition: $transition;
}

%transform-for-large-blocks {
    transform: scale(1.02);
    transition: $transition;
}

%container-settings {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    // padding: 0 15px;   
}

%button-text {
    font-family: 'gotham-book';
    font-size: 14px;
    text-transform: uppercase;
}

%h2-text {
    font-family: 'gotham-bold';
    font-size: 44px;
    text-transform: uppercase;
}

%h2-medium-text {
    font-family: 'gotham-medium';
    font-size: 44px;
    text-transform: uppercase;
}

%h3-text {
    font-family: 'gotham-book';
    font-size: 22px;
    text-transform: uppercase;
}

%h3-bold-text {
    font-family: 'gotham-bold';
    font-size: 22px;
    text-transform: uppercase;
}

%h4-text {
    font-family: 'gotham-book';
    font-size: 18px;
    text-transform: uppercase;
}

%open-sans {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

%btn-a {
    border: 1px solid $dark;   
    text-decoration: none;
    @extend %button-text;
    color: $dark;
    text-align: center;
    display: block;
    width: 190px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;

    &:hover {
        background-color: #e0eaf562;
        border-radius: 3px;
        @extend %transform-for-large-blocks;
        z-index: 2;
        box-shadow: 0 0 10px #808080af;
    }
}

%a {
    text-decoration: none;
    // font-family: $aleo;
    font-size: 14px; 
    // color: $dark;
    text-transform: uppercase;
    cursor: pointer;
}

%underline {
    display: block;
    content: "";
    width: 100px;
    border-bottom: 2px solid $dark;
    position: absolute;
    left: calc(50% - 50px);
    top: -30px;
}

%dots {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid $light;
    border-radius: 50%;
    opacity: 1;
}
